:root {
  --c1: #181818;
  --c2: #1f1f1f;
  --c3: #313131;
  --c4: #bababa;
  --c5: #fff;
  --error: #ff3d00;
  --ok: #8eca0c;
  --accent: #fedc3f;
}

@font-face {
  font-family: Inter;
  src: url('@/assets/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: var(--c5);
}
