@use '@/assets/styles/mixins' as mixins;

body {
  background: var(--c1);
}

main {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content max-content;
  width: 100vw;
  height: 100vh;
}
.pwa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--accent);
  &_not {
    padding: 20px;
  }
  img {
    width: 40px;
    border-radius: 10px;
  }
}
.card {
  @include mixins.stack(20px);
  padding: 20px 40px;
  width: 100%;
  height: 100%;
}

button {
  @include mixins.button-reset;
  @include mixins.focus-ring;

  transition:
    transform 0.3s ease,
    background 0.3s ease,
    color 0.3s ease;

  &:active {
    transform: scale(0.7);
  }

  &:hover {
    transform: scale(0.95);
  }
}

.ok {
  outline: 2px solid var(--ok);
  color: var(--ok) !important;
}

.error {
  outline: 2px solid var(--error);
  color: var(--error) !important;
}

* {
  scrollbar-color: var(--c1) var(--c2);
  scrollbar-width: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-left: 1px solid var(--c2);
    border-radius: 0;
    background: var(--c1);
    padding: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--c2);
  }
}
