@use '@/assets/styles/mixins' as mixins;

main {
  @include mixins.stack(20px);

  place-content: center;
  place-items: center;
  background: var(--c1);
  width: 100vw;
  height: 100vh;
}

button {
  @include mixins.button-reset;
  @include mixins.focus-ring;

  transition:
    transform 0.3s ease,
    background 0.3s ease,
    color 0.3s ease;

  &:active {
    transform: scale(0.7);
  }

  &:hover {
    transform: scale(0.95);
  }
}

.ok {
  outline: 2px solid var(--ok);
  color: var(--ok) !important;
}

.error {
  outline: 2px solid var(--error);
  color: var(--error) !important;
}
